 .u-section-1 {
  background-image: url("images/8e59fc18-f173-4b50-91c8-8334297ca40a.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 881px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 881px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 33px 50px 28px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 600;
  margin: 2px 2px 0 22px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.625rem;
  font-weight: 400;
  font-style: normal;
  margin: 28px 2px 0 22px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 34px auto 0 22px;
  padding: 16px 52px 17px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 700px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-1 .u-shape-1 {
  width: 597px;
  height: 597px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 554px;
  height: 695px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -646px auto 0 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 695px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-1 .u-shape-1 {
    width: 491px;
    height: 491px;
  }

  .u-section-1 .u-image-1 {
    width: 491px;
    height: 616px;
    margin-top: -540px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 673px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 488px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 28px;
    padding-left: 27px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-1 .u-shape-1 {
    width: 320px;
    height: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 401px;
    margin-top: -369px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 668px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 865px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px 100px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 275px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 94px;
  width: 94px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 37px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.375rem;
  font-weight: 300;
  margin: 21px 1px 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 94px;
  width: 94px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 37px auto 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.375rem;
  font-weight: 300;
  margin: 21px 1px 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 94px;
  width: 94px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 37px auto 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.375rem;
  font-weight: 300;
  margin: 21px 1px 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px 30px 30px;
}

.u-section-2 .u-icon-4 {
  height: 94px;
  width: 94px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 37px auto 0;
}

.u-section-2 .u-text-6 {
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.375rem;
  font-weight: 300;
  margin: 21px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 223px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 494px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 918px;
}

.u-section-3 .u-shape-1 {
  width: 662px;
  height: 334px;
  background-image: none;
  margin: 473px 20px 0 auto;
}

.u-section-3 .u-image-1 {
  height: 659px;
  width: 583px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 70.22% 50%;
  margin: -722px auto 0 76px;
}

.u-section-3 .u-shape-2 {
  width: 237px;
  height: 237px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -126px auto 0 0;
}

.u-section-3 .u-shape-3 {
  width: 228px;
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -798px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 462px;
  min-height: 511px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: -136px 90px 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-3 .u-text-1 {
  margin: 68px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  background-image: none;
  margin: 76px auto 0;
  padding: 18px 29px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-3 .u-shape-1 {
    width: 630px;
    height: 318px;
    margin-top: 533px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 635px;
    width: 496px;
    margin-top: -756px;
    margin-left: 53px;
  }

  .u-section-3 .u-shape-2 {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: 11px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -659px;
    margin-right: -50px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -152px;
    margin-right: 19px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-3 .u-shape-1 {
    width: 497px;
    height: 272px;
    margin-top: 473px;
    margin-right: 14px;
  }

  .u-section-3 .u-image-1 {
    height: 631px;
    width: 544px;
    margin-top: -708px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -109px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 48px;
    margin-right: 20px;
  }

  .u-section-3 .u-group-1 {
    width: 524px;
    margin: -137px auto 56px 88px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-3 .u-shape-1 {
    width: 324px;
    height: 177px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 545px;
    width: 422px;
    margin-top: -599px;
    margin-right: 47px;
  }

  .u-section-3 .u-shape-2 {
    width: 169px;
    height: 169px;
    margin-top: -94px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 62px;
    margin-right: -50px;
  }

  .u-section-3 .u-group-1 {
    width: 453px;
    margin-top: -144px;
    margin-bottom: 32px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1260px;
  }

  .u-section-3 .u-shape-1 {
    width: 170px;
    height: 129px;
  }

  .u-section-3 .u-image-1 {
    height: 349px;
    width: 255px;
    margin-top: -399px;
    margin-right: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 124px;
    height: 127px;
    margin-top: -77px;
  }

  .u-section-3 .u-shape-3 {
    width: 133px;
    height: 133px;
    margin-top: 56px;
  }

  .u-section-3 .u-group-1 {
    width: 298px;
    margin-top: -82px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-1 {
    padding: 17px 6px 19px 4px;
  }
} .u-section-4 {
  background-image: url("images/pexels-photo-2409038.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 849px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 272px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  background-image: none;
  margin: 85px auto 60px;
  padding: 18px 55px 18px 54px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 700px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 536px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 253px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-5 .u-shape-1 {
  width: 368px;
  height: 368px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px auto 0 293px;
}

.u-section-5 .u-image-1 {
  width: 538px;
  height: 493px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -245px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 397px;
  height: 369px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -156px auto 0 293px;
}

.u-section-5 .u-group-1 {
  width: 527px;
  min-height: 696px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -653px 0 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 16px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  background-image: none;
  margin: 16px auto 0;
  padding: 18px 58px 18px 57px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-5 .u-shape-1 {
    width: 421px;
    height: 421px;
    margin-left: 204px;
  }

  .u-section-5 .u-image-1 {
    width: 429px;
    height: 429px;
    margin-top: -298px;
  }

  .u-section-5 .u-image-2 {
    width: 351px;
    height: 351px;
    margin-top: -78px;
    margin-left: 204px;
  }

  .u-section-5 .u-group-1 {
    width: 449px;
    margin-top: -627px;
    margin-bottom: 19px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -231px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    width: 556px;
    min-height: 632px;
    margin: -84px auto 27px 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: -140px;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    min-height: 521px;
    width: 458px;
    margin-top: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1444px;
  }

  .u-section-5 .u-shape-1 {
    width: 301px;
    height: 301px;
  }

  .u-section-5 .u-image-1 {
    width: 285px;
    height: 309px;
    margin-top: -178px;
  }

  .u-section-5 .u-image-2 {
    width: 242px;
    height: 242px;
    margin-top: -76px;
  }

  .u-section-5 .u-group-1 {
    min-height: 725px;
    margin-top: 40px;
    margin-bottom: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    padding: 17px 21px 19px 20px;
  }
} .u-section-6 {
  background-image: url("images/3e441115-a050-5650-4e6d-25e8e5cd82a4.jpg");
  min-height: 675px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 675px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-6 .u-text-2 {
  line-height: 2.2;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 675px;
  background-image: url("images/1394453e-a213-c6d5-6271-8bea97f28e15.jpg");
  background-position: 0% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 559px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 24px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 22px;
  }

  .u-section-6 .u-image-1 {
    min-height: 559px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 714px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-left: 50px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-right: 24px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 24px;
  }

  .u-section-6 .u-image-1 {
    min-height: 428px;
    background-position: 67.42% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 751px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 425px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 466px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 28px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 32px;
    margin-right: 22px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 22px;
  }

  .u-section-6 .u-image-1 {
    min-height: 362px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 52px;
} .u-section-8 {
  background-image: none;
  min-height: 817px;
}

.u-section-8 .u-image-1 {
  height: 600px;
  object-position: 50% 67.46%;
  margin: 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -184px auto 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18.75px));
  min-height: 262px;
  grid-gap: 25px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 25px 5px 0;
}

.u-section-8 .u-text-2 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 30px 0 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 25px 5px 0;
}

.u-section-8 .u-text-4 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 30px 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 25px 5px 0;
}

.u-section-8 .u-text-6 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 30px 0 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 25px 5px 0;
}

.u-section-8 .u-text-8 {
  font-size: 3.75rem;
  line-height: 1;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-list-1 {
    width: 940px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 213px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 818px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-image-1 {
  min-height: 513px;
  background-image: url("images/-min1.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 956px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 58px 28px;
}

.u-section-9 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 4px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 99px 2px 0;
}

.u-section-9 .u-text-3 {
  font-weight: 400;
  margin: 65px 2px 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  background-image: none;
  margin: 92px auto 0;
  padding: 18px 55px 18px 54px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-9 .u-image-1 {
    min-height: 423px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 788px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-9 .u-image-1 {
    min-height: 324px;
    background-position: 65.24% 50%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-9 .u-image-1 {
    min-height: 486px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-9 .u-image-1 {
    min-height: 306px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 1116px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}